web-scrapper/.idea/compiler.xml
web-scrapper/.idea/discord.xml
web-scrapper/.idea/jarRepositories.xml
web-scrapper/.idea/workspace.xml
web-scrapper/.idea/uiDesigner.xml

data-server/.idea/compiler.xml
data-server/.idea/discord.xml
data-server/.idea/jarRepositories.xml
data-server/.idea/workspace.xml
data-server/.idea/uiDesigner.xml

web-scrapper/.logs/
web-scrapper/target/
Web-scrapper/.env

data-server/.logs/
data-server/target/
data-server/.env

web-ui/.angular
web-ui/coverage
web-ui/node_modules/
web-ui/dist/

.volumes/**/*volume/